
         <div class="col-lg-3">
            <h2>User info</h2>
            <%= attachment_image_tag @user, :image, :fill, 60, 60, fallback: "no_image.jpg",size: '60x60'%>
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th>name</th>
                        <th><%= user.name %></th>
                    </tr>
                    <tr>
                        <th>introduction</th>
                        <th><%= user.introduction %></th>
                    </tr>
                </tbody>
            </table>


            <% if user.id == current_user.id %>
                    <p><%= link_to "", edit_user_path(user),class:"edit_user_1", class: 'glyphicon glyphicon-wrench btn btn-default col-lg-12' %></p>
            <% end %>


            <%= form_for(book) do |f| %>

                <% if book.errors.any? %>
                    <%= book.errors.count %>error
                    <% book.errors.full_messages.each do |message| %>
                        <%= message %>
                    <% end %>
                <% end %>

                <h1>New book</h1>

                <h4>Title</h4>
                <%= f.text_field :title,class:"title" %>

                <h4>Opinion</h4>
                <%= f.text_area :opinion,class:"body" %>

                <p><%= f.submit "Create Book" %></p>

            <% end %>
        </div>
