<div class="container">
      <div class="row">
        <%= render 'books/sidebar', books: @books, user: @book.user,book: @bookn %>
        <%= render 'layouts/error_messages',user: @book.user,book: @bookn %>
        <div class="col-lg-9">
          <h1>Book detail</h1>
          <table class="table table-striped">
                <thead>
                  <tr>
                    <th></th><th></th><th></th><th></th><th></th>
                  </tr>
                </thead>
                <tbody>
                    <tr>
                      <td><%= attachment_image_tag @book.user, :image, :fill, 60, 60, fallback: "no_image.jpg" ,size: '60x60' %>
                        <br><%= link_to @book.user.name, user_path(@book.user),class: "user_#{@book.user}" %>
                      </td>
                      <td><%= @book.title %></td>
                      <td><%= @book.opinion %></td>
                     <% if user_signed_in? %>
                       <td class = "edit"><%= link_to 'Edit', edit_book_path(@book.id),class: "edit_book_#{@book.id}" %></td>
                       <td class = "destroy"><%= link_to 'Destroy', book_path(@book),class: "destroy_book_#{@book}" ,method: :delete %></td>
                     <% end %>
                     </tr>
                </tbody>
          </table>
          <% if flash[:notice] %>
            <div class = "flash">
            <%= flash[:notice] %>
            </div>
          <% end %>
        </div>
      </div>
</div>